<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav class="navbar">
        <h1>Student Portal</h1>
    </nav>

    <div class="container">
        <div class="form-container">
            <img style="width:120px;margin-left:110px"  src ="{{ url_for('static', filename='image/images.png') }}">
            <h2>SIT-IN SYSTEM MONITORING</h2>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="error">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            <form method="POST" action="{{ url_for('login') }}">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" required>
                </div>
                
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Log In</button>
                </div>
            </form>
            
            <a href="{{ url_for('register') }}">Register</a>
        </div>
    </div>
</body>
</html>